body {
  background-color: #f6f7fb;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9c49c9;
  color: white;
  padding: 15px 30px;
  font-size: 22px;
  font-weight: bold;
}

.container {
  margin: 30px auto;
  width: 90%;
  max-width: 1000px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h2 {
  color: #4a8584;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #598282;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  background-color: #587e79;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #009dff;
}
